:root {
  --primary: #000e21;
  --primary-light: #014eb8;
  --Secondary: #33c9fc;
  --Secondary-light: #e8f9ff;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--primary-light);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary-light);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--Secondary-light);
  border: 1px solid var(--primary-light);
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  margin: 0;
  background: var(--primary);
  color: #ffffff;
}

#tsparticles {
  height: 100%;
  position: absolute;
}
